<form id="checklist-form" class="chklist-form">

    <h1>Item Editor</h1>
    <div>
        <div>
            <span></span>
            <input type="text" name="name" value="{{name}}"/>
        </div>
        <div>
            <input type="text" name="description" value="{{description}}"/>
        </div>
        <div>
            <span></span>
            <input type="text" name="checkboxes" value="{{checkboxes}}"/>
        </div>
        <button id="submit">{{ localize "CHK.save" }}</button>
    </div>

</form>